DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/sci_chatbot_capstone
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-mpnet-base-v2
SESSION_SECRET=
